{% extends "basediebasiscms.html.twig" %}
{% block content %}
	<body>
		<section id="kopf">
			<header style="background: url({{ content.homepageheaderimage.url }}) center / cover no-repeat;background-position: 0px -20px;">
				<div class="container">
					<div class="row row-header-background">
						<div class="col column-header">
							<div class="text-center">
								<h1 class="text-break header-main-title" data-aos="fade-up" data-aos-duration="500">{{ content.homepageheadline }}</h1>
								<p class="lead" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
									<strong>{{ content.homepagesubline }}</strong>
								</p>
							</div>
						</div>
					</div>
				</div>
			</header>
		</section>
		<section id="gruendung-1" class="gruendung">
			<div class="text-center" style="margin-top: 40px;">
				<h2 data-aos="fade-up" data-aos-duration="500" class="section-title" style="color: rgba(33,37,41,0.71);padding-top: 30px;">{{ content.homepagegruendungheadline }}</h2>
				<hr data-aos="fade" data-aos-duration="500" data-aos-delay="200" class="hr-line">
			</div>
			<div class="container main-wrap">
				<div class="row">
					<div class="col">
						<div>
							{{ content.homepagegruendungsubline|raw }}
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="unser-team" class="unser-team">
			<div class="text-center">
				<h2 data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">UNSER TEAM</h2>
				<hr data-aos="fade-up" data-aos-duration="500" data-aos-delay="200" class="hr-line">
			</div>
			<div class="container main-wrap">
				<div class="row">
					{% for mitglied in content.blockhomepagebilderteam %}
						<div class="col col-lg-3 col-md-6 col-sm-6 d-flex align-item-stretch team">
							<div class="member">
								<div class="member-img"><img id="{{ mitglied.teamname|lower|replace({' ':'-','ü':'ue','ä':'ae','ö':'oe','ß':'ss'}) }}" class="img-fluid" src="{{ mitglied.teambild.url }}" alt="{{ mitglied.teamname }}">
									<div class="social">
										{% if mitglied.teamhomepage %}
											<a href="{{ mitglied.teamhomepage }}" target="_blank">
												<i class="fa fa-home" data-bs-toggle="tooltip" data-bss-tooltip="" title="Homepage {{ mitglied.teamname }}"></i>
											</a>
										{% endif %}
										<a href="mailto:{{ mitglied.teamemail }}?subject=Anfrage&amp;body=Sehr {% if mitglied.geschlecht == " female" %} geehrte frau {{ mitglied.teamname }}" {% else %} geehrter herr {{ mitglied.teamname }} " {% endif %} >
																						<i class=" fa fa-envelope"></i>
									</a>
								</div>
							</div>
							<div class="member-info">
								<h5 class="member-title">{{ mitglied.teamname }}</h5>
								<span style="color: var(--bs-gray);">{{ mitglied.teamfunktion }}</span>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</body>
</section>
<section id="about-us" class="about-us">
	<div class="text-center" style="margin-top: 40px;">
		<h2 data-aos="fade-up" data-aos-duration="500" class="section-title" style="color: rgba(33,37,41,0.71);padding-top: 30px;">{{ content.hoepageueberunsheadline }}</h2>
		<hr data-aos="fade" data-aos-duration="500" data-aos-delay="200" class="hr-line">
	</div>
	<div class="container main-wrap">
		<div class="row mb-4">
			<div class="col">
				<div>
					{{ content.homepageueberunssubline|raw }}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
				<div style="text-align: center;">
					<h6 style="color: var(--bs-light);background: rgb(25,135,38);"><br>{{ content.homepagesaeule1header }}<br><br></h6>
					<p class="text-break text-saeulen text-trennung-auto" style="background: rgb(25,135,38);color: var(--bs-light);font-size: 18px;text-align: left;border-right: 8px solid rgb(25,135,38);border-left: 8px solid rgb(25,135,38);"><br>{{ content.homepagesaeule1subline }}<br></p>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
				<div style="text-align: center;">
					<h6 style="color: var(--bs-light);background: rgb(2,34,111);"><br>{{ content.homepagesaeule2header }}<br><br></h6>
					<p class="text-break text-saeulen text-trennung-auto" style="background: rgb(2,34,111);color: var(--bs-light);font-size: 18px;text-align: left;border-right: 8px solid rgb(2,34,111) ;border-left: 8px solid rgb(2,34,111) ;"><br>{{ content.homepagesaeule2subline }}<br></p>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
				<div style="text-align: center;">
					<h6 style="color: var(--bs-light);background: rgb(208,0,24);"><br>{{ content.homepagesaeule3header }}<br><br></h6>
					<p class="text-break text-saeulen text-trennung-auto" style="background: rgb(208, 0, 24);color: var(--bs-light);font-size: 18px;text-align: left;border-right: 8px solid rgb(208,0,24) ;border-left: 8px solid rgb(208,0,24) ;"><br>{{ content.homepagesaeule3subline }}<br></p>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
				<div style="text-align: center;">
					<h6 style="color: var(--bs-light);background: rgb(233,120,9);"><br>{{ content.homepagesaeule4header }}<br><br></h6>
					<p class="text-break text-saeulen text-trennung-auto" style="background: rgb(233,120,9);color: var(--bs-light);font-size: 18px;text-align: left;border-right: 8px solid rgb(233,120,9) ;border-left: 8px solid rgb(233,120,9) ;"><br>{{ content.homepagesaeule4subline }}<br></p>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="wir-stehen-fuer" class="wir-stehen-fuer">
	<div class="text-center">
		<h2 data-aos="fade-up" data-aos-duration="500">Wir stehen für</h2>
		<hr data-aos="fade-up" data-aos-duration="500" data-aos-delay="200" class="hr-line">
	</div>
	<div class="container mt-1">
		<div class="row text-center mb-4">
			<div class="col mb-2">
				<div data-aos="fade-up" data-aos-duration="500" data-aos-delay="300"><img src="/assets/img/dieBasis-LOGO-kv-diepholz-nienburg.svg" alt="dieBasis Kreisverband Diepholz Nienburg" width="280"></div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div>
					<p class="text-start" style="color: rgb(33, 37, 41);font-size: 18px;">Die Partei Basisdemokratische Partei Deutschland vereinigt Menschen ohne Unterschied der Staatsangehörigkeit, des Standes, der Herkunft, der ethnischen Zugehörigkeit, des Geschlechts, der sexuellen Orientierung und des Bekenntnisses, die beim Aufbau und Ausbau eines demokratischen Rechtsstaates und einer modernen freiheitlichen Gesellschaftsordnung, geprägt vom Geiste sozialer Gerechtigkeit, mitwirken wollen.<br><br>Totalitäre, diktatorische und oder gewalttätige Bestrebungen jeder Art lehnt die Partei Basisdemokratische Partei Deutschland entschieden ab.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="section-lv-dhni">
					<h2>Wir stehen für</h2>
					<div>
						<h5 class="heading-wir-stehen-fuer">
							<strong>Basisdemokratie</strong>
						</h5>
						<ul>
							<li>Alle an einem Thema Interessierten können Vorschläge machen und unmittelbar abstimmen.</li>
						</ul>
					</div>
					<div>
						<h5 class="heading-wir-stehen-fuer">
							<strong>Echte Meinungsfreiheit</strong><br></h5>
						<ul>
							<li>Jeder Mensch kann seine Meinung frei äußern, ohne gesellschaftliche oder berufliche Repression befürchten zu müssen.</li>
						</ul>
					</div>
					<div>
						<h5 class="heading-wir-stehen-fuer">
							<strong>Informationsfreiheit</strong><br></h5>
						<ul>
							<li>Alle Informationen werden ohne Zensur frei zugänglich zur Verfügung gestellt.</li>
						</ul>
					</div>
					<div>
						<h5 class="heading-wir-stehen-fuer">
							<strong>Expertenkommissionen</strong><br></h5>
						<ul>
							<li>Wichtige Entscheidungen werden durch Experten verschiedener Denkrichtungen begleitet und vorbereitet.</li>
						</ul>
					</div>
					<div>
						<h5 class="heading-wir-stehen-fuer">
							<strong>Machtbegrenzung in der Politik</strong><br></h5>
						<ul>
							<li>Die Anzahl politischer Ämter ist transparent und begrenzt. Unabhängige Ausschüsse kontrollieren dies regelmäßig.</li>
						</ul>
					</div>
					<div>
						<h5 class="heading-wir-stehen-fuer">
							<strong>Mitspracherecht mündiger Bürgerinnen &amp; Bürger</strong><br></h5>
						<ul>
							<li>Alle durch eine Entscheidung Betroffenen werden objektiv informiert und eingebunden.</li>
						</ul>
					</div>
					<div>
						<h5 class="heading-wir-stehen-fuer">
							<strong>Gesunde Zukunft unserer Kinder</strong><br></h5>
						<ul>
							<li>Das Wohl von Kindern und Familien steht da im Vordergrund. Das Recht auf Bildung und Gesundheit steht allen zu.</li>
						</ul>
					</div>
					<div>
						<h5 class="heading-wir-stehen-fuer">
							<strong>Freie Impfentscheidung</strong><br></h5>
						<ul>
							<li>Jeder soll frei und ohne Zwang über Impfungen und jede andere Gesundheitsmaßnahme entscheiden.</li>
						</ul>
					</div>
					<div>
						<h5 class="heading-wir-stehen-fuer">
							<strong>Bildung</strong><br></h5>
						<ul>
							<li>Freie Schulen in Selbstverwaltung.</li>
							<li>Anlagen der Kinder fördern.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div>
	<a class="back-to-top hvr-back-pulse" href="#">
		<i class="fa fa-angle-up" style="color: rgb(37,178,231);"></i>
	</a>
</div>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/bs-init.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script src="/assets/js/clean-blog.js"></script>
<script src="/assets/js/diebasis.js"></script>
<script src="/assets/js/lightbox.js"></script></body>{% endblock %}
